

<h1>Mail Reader::Listing New Emails</h1> <br /><br />

<table width=500>
  <tr>
    <th >Subject</th>
    <th>Body</th>
    <th>From</th>
    <th>Matched Terms</th>
  </tr>

<% @messages.each do |message| %>
  <tr>

    <td width=50><%=h truncate(message.subject, :length => 15) %></td>
    <td><%=h truncate(message.body, :length => 15) %></td>
    <td><%=h truncate(message.mail_from, :length => 15) %></td>
    <td><%=h truncate(message.matched, :length => 15) %></td>

  </tr>
<% end %>
</table>

<br />
<%= link_to 'Search', :controller => "messages", :action => :search %>