<p>
  <b>Mail from:</b>
  <%=h @mail.mail_from %>
</p>

<p>
  <b>Subject:</b>
  <%=h @mail.subject %>
</p>

<p>
  <b>Body:</b>
  <%=h @mail.body %>
</p>


<%= link_to 'Edit', edit_mail_path(@mail) %> |
<%= link_to 'Back', mails_path %>